<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwebss.fitdiary.backend.dao.GymEquipCategoryMapper">
  <resultMap id="BaseResultMap" type="com.dwebss.fitdiary.backend.model.GymEquipCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="GYM_EXERCISE_EQUIP_ID" jdbcType="INTEGER" property="gymExerciseEquipId" />
    <result column="GYM_ID" jdbcType="INTEGER" property="gymId" />
    <result column="EXERCISE_EQUIP_CD" jdbcType="INTEGER" property="exerciseEquipCd" />
  </resultMap>
</mapper>