<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwebss.fitdiary.backend.dao.TrainerInfoMapper">
  <resultMap id="BaseResultMap" type="com.dwebss.fitdiary.backend.model.TrainerInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UESR_GYM_ID" jdbcType="INTEGER" property="uesrGymId" />
    <result column="WORKING_D" jdbcType="VARCHAR" property="workingD" />
    <result column="WORKING_START_T" jdbcType="INTEGER" property="workingStartT" />
    <result column="WORKING_END_T" jdbcType="INTEGER" property="workingEndT" />
  </resultMap>
</mapper>