<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwebss.fitdiary.backend.dao.UserClassProgressMapper">
  <resultMap id="BaseResultMap" type="com.dwebss.fitdiary.backend.model.UserClassProgress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_CLASS_PROGRESS_ID" jdbcType="INTEGER" property="userClassProgressId" />
    <result column="USER_CLASS_CONTRACT_ID" jdbcType="INTEGER" property="userClassContractId" />
    <result column="EXERCISE_COURSE_ID" jdbcType="INTEGER" property="exerciseCourseId" />
    <result column="USER_CLASS_PROGRESS_D" jdbcType="DATE" property="userClassProgressD" />
    <result column="USER_CLASS_PROGRESS_START_T" jdbcType="INTEGER" property="userClassProgressStartT" />
    <result column="USER_CLASS_PROGRESS_END_T" jdbcType="INTEGER" property="userClassProgressEndT" />
    <result column="CLASS_ATTENDANCE_YN" jdbcType="CHAR" property="classAttendanceYn" />
    <result column="CURRENT_CLASS_TURN" jdbcType="INTEGER" property="currentClassTurn" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>