<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwebss.fitdiary.backend.dao.UserDiaryExerciseCourseMapper">
  <resultMap id="userDiaryExerciseCourseMap" type="com.dwebss.fitdiary.backend.model.UserDiaryExerciseCourse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_DIARY_EXERCISE_INFO_ID" jdbcType="INTEGER" property="userDiaryExerciseInfoId" />
    <result column="USER_DIARY_ID" jdbcType="INTEGER" property="userDiaryId" />
    <result column="EXERCISE_INFO_ID" jdbcType="INTEGER" property="exerciseInfoId" />
    <result column="EXERCISE_SUCCESS_YN" jdbcType="CHAR" property="exerciseSuccessYn" />
    <result column="EXERCISE_ORDER" jdbcType="INTEGER" property="exerciseOrder" />
    <result column="EXERCISE_RANGE_CD" jdbcType="INTEGER" property="exerciseRangeCd" />
    <result column="EXERCISE_RANGE_CNT" jdbcType="INTEGER" property="exerciseRangeCnt" />
  </resultMap>
  
   <select id="selectExerciseCourse" parameterType="INTEGER" resultMap="userDiaryExerciseCourseMap">
	SELECT 
		*
	FROM USER_DIARY_EXERCISE_COURSE
	WHERE 1=1
	AND USER_DIARY_ID=#{userDiaryId}
  </select>
  
  
  
   <select id="selectUserExerciseRangeCnt" parameterType="INTEGER" resultMap="userDiaryExerciseCourseMap">
	SELECT A.EXERCISE_RANGE_CD , count(EXERCISE_RANGE_CD) as EXERCISE_RANGE_CNT FROM (
		SELECT 
			ud.USER_DIARY_ID ,
			udec.EXERCISE_SUCCESS_YN,
			udec.EXERCISE_ORDER,
			ei.EXERCISE_NM,
			ei.EXERCISE_DESC,
    	ei.EXERCISE_RANGE_CD,
			ei.EXERCISE_EQUIP_CD
		FROM USER_DIARY ud, EXERCISE_INFO ei, USER_DIARY_EXERCISE_COURSE udec
	WHERE 1=1
	  AND ud.USER_DIARY_ID = udec.USER_DIARY_ID
	  AND udec.EXERCISE_INFO_ID = ei.EXERCISE_INFO_ID
		AND ud.USER_ID = #{userId}
    AND udec.EXERCISE_SUCCESS_YN = 'Y'
	) A
  group by EXERCISE_RANGE_CD
  </select>
  
  
</mapper>