<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwebss.fitdiary.backend.dao.UserDiaryExerciseCourseMapper">
  <resultMap id="userDiaryExerciseCourseMap" type="com.dwebss.fitdiary.backend.model.UserDiaryExerciseCourse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_DIARY_EXERCISE_INFO_ID" jdbcType="INTEGER" property="userDiaryExerciseInfoId" />
    <result column="USER_DIARY_ID" jdbcType="INTEGER" property="userDiaryId" />
    <result column="EXERCISE_INFO_ID" jdbcType="INTEGER" property="exerciseInfoId" />
    <result column="EXERCISE_SUCCESS_YN" jdbcType="CHAR" property="exerciseSuccessYn" />
    <result column="EXERCISE_ORDER" jdbcType="INTEGER" property="exerciseOrder" />
  </resultMap>
  
   <select id="selectExerciseCourse" parameterType="INTEGER" resultMap="userDiaryExerciseCourseMap">
	SELECT 
		*
	FROM USER_DIARY_EXERCISE_COURSE
	WHERE 1=1
	AND USER_DIARY_ID=#{userDiaryId}
  </select>
</mapper>